
.inline-svg {
	display: inline-block;
	height: 1.15rem;
	width: 1.15rem;
	position: relative;
	margin: 0px;
}

a[Title="LinkedIn"] > span {
	top: 1px;
}

a[itemprop="sameAs"] {
	border-bottom: none;
}
